.container-body{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: calc(100vw - 150px);
    min-height: 100vh;
    align-items: stretch;
    left: 150px;
    overflow-x: hidden;
}
.m-body{
    min-height: calc(110vh - 153px);
    font-size: 16px;
}
.m-content{
    padding: 7% 1% 1% 10%;
}
.m-content-sub{
    margin: 4% 1% 1% 4%;
    border-radius: 3px;
    border: 1px solid #dedede;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.15);
    position: relative;
    padding: 1rem;
    text-align: center;
    height: auto;
}
.title-page{
    font-size: 1.5rem;
    font-weight: 700;
    color: #1d3761;
}
.sub-title-page{
    position: absolute;
    left: 0;
    top: 8px;
    font-weight: 600;
    color: gray;
}
.content-title{
    height: auto;
    border-bottom: 1px solid #d6d6d6;
}
.m-head{
    margin-bottom: 1%;
}
.m-search{
    margin-top: 4%;
    padding-left: 40% !important;
}
.m-table{
    padding: 2.5%;
    margin-left: 8%;
}
.btn-visualize-data:hover{
    border-color: #27487d;
    background-color: #27487d;
    cursor: pointer;
}
.btn-visualize-data:hover .icon-btn-options{
    color: #fff;
}
.icon-btn-options{
    color: gray;   
}
.btn-edit-data:hover{
    border-color: #e2d616;
    background-color: #e2d616;
    cursor: pointer;   
}
.btn-edit-data:hover .icon-btn-options{
    color: #fff;
}
#form-create-user{
    margin-left: 2%;
    margin-right: 2%;
    padding: 4%;
}
#form-update-user{
    margin-left: 2%;
    margin-right: 2%;
}
.m-body-footer-btns{
    border-top: 1px solid #d6d6d6;
    padding-top: 4%;
}
.error{
    color: red;
}
.container-reports{
    height: 180px;
    border: 3px solid #3498db;
    float: left;
    margin: 4%;
}
.container-reports:hover{
    background-color: #3498db;
    cursor: pointer;
    padding: 1%;
    border-radius: 4px;
}

.container-reports:hover .text-report{
    color: white;
}
.text-report{
    position: relative;
    top: 21%;
    font-size: 20px;
    font-weight: 700;
    color:#3498db;
}
.icon-report{
    font-size: 40px;
    margin-top: 10px;
}
.btn-primary-data{
    background-color: white;
    cursor: pointer;
    color: gray;
    font-weight: 600;
}
.btn-primary-data:hover{
    background-color: #007bff;
    cursor: pointer;
    color: white;
}
/*checkbox*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:disabled + .slider{
    cursor: not-allowed;
  }

  input:checked + .slider {
    background-color: #0275d8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0275d8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /*final checkbox*/