body{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.m-container{
    width: 35%;
    height: auto;
    border-radius: 10px;
    margin-left: 30%;
    padding: 4%;
}
.inpt-form{
    padding: 3.5% !important;
    border-radius: 25px !important;
}
.form-title{
    text-align: center;
    margin-bottom: 12%;
    font-weight: 800;
    color: white;
}
.sub-button{
    width: 135%;
    border-radius: 25px;
    padding: 10%;
    color: white;
    border-color: #36a3f7;
    background-color: #36a3f7;
}
.sub-button:hover{
    cursor: pointer;
    background-color: #1192f6;
    border-color: #0a8cf0;
}
div.logo{
    margin-left: 44%;
    margin-top: 8%;
}
#principal-logo{
    border-radius: 10px;
    box-shadow: 6px 6px #888888;
}
.error{
    color: red !important;
    font-size: 14px !important;
}