@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
a{
    text-decoration:none; 
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none !important;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #27487d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1d3761;
    border-bottom: 1px solid #1d3761;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #27487d;
}

#sidebar ul p {
    color: #fff;
    padding: 16px;
    font-size: 13px;
    font-weight: 600;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    color: #dad4d4;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #3661a7;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3661a7;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 14px !important;
    padding-left: 70px !important;
    background: #27487d;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.header{
    width: calc(100vw - 150px);
    -webkit-box-shadow: 0 1px 15px 1px #c9c7c7;
    box-shadow: 0 1px 15px 1px #c9c7c7;
    position: fixed !important;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 4.5rem;
    z-index: 999;
}
#header-options{
    position: fixed;
    right: 0;
    top: 0;
    height: auto;
    width: 18%;
    margin-top: 0.8%;
}
.hd-option{
    float: left;
    width: 0%;
    height: auto;
    padding-left: 68%;
}
#header-options li{
    list-style:none;
}
.img-hd:hover{
    cursor: pointer;
}
.img-hd-bell:hover{
    cursor: pointer;
}
footer{
    width: calc(100vw - 150px);
    background-color: #fff;
    height: 44px;
    -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,.61);
    box-shadow: -2px -8px 41px -14px rgba(150, 150, 150, 0.75);
}
.opt-sesion{
    height: auto;
    background-color: white;
    position: absolute !important;
    top: 100%;
    left: -11%;
    border: 1px solid #bfc0c1;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.opt-sesion-header{
    background-color: #27487d;
    height: auto;
    border-radius: 3px;
    padding: 8%;
}
.opt-sesion-options{
    padding: 12%;
}
#user-name{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-left: 2%;
}
#user-area{
    color: white;
    font-size: 12px;
    font-weight: 200;
    margin-left: 2%;
}
#user-type{
    color: white;
    font-size: 12px;
    font-weight: 200;
    margin-left: 2%;
}
#btn-close-sesion{  
    border: 1px solid #d6d6d6;
    background-color: white;
    padding: 7px 12px;
    border-radius: 25px;
    font-size: 14px;
    color: #27487d;
    /* margin-left: 25%; */
    font-weight: 600;
}
#btn-close-sesion:hover{
    cursor: pointer;
    background-color: #f2f1f1;
}
.pointer-tooltip{
    position: absolute;
    left: 90%;
    margin-left: -8px;
    top: -8px;
    height: 16px;
    width: 16px;
    background-color: #27487d;
    box-shadow: -2px -2px 2px 0 rgba(0,0,0,0.2);
    content: "\00a0";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 150ms ease color,150ms ease background-color;
}
.active-li{
    color: #fff;
    background: #1d3761;
    border-left: 2px solid white;
}
